version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: app_restaurant
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: secret_password
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app_user -d app_restaurant"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
